#game-canvas {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 0 0 12px linear-gradient(to top, #000000, #D3D3D3), 0 12px 40px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
#game-canvas canvas {
  width: 100% !important;
  height: auto !important;
  display: block;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
}